.user-div{
    margin-right: auto;
    margin-left: auto;
}

.checkin-title{
    color: rgb(207, 207, 207);
    margin-top: 1em;
    font-size: 50px;
}

.checkin-label-row{
    margin-right: auto;
    margin-left: auto;
    align-content: center;
}

.macros{
    margin-right: 5px;
    color: rgb(207, 207, 207);
    font-size: 18px;
}

.checkin-badge{
    margin-right: 5px;
    height: 16px;
    width: 20px;
}

.checkin-progress-div{
    margin-bottom: 1em;
}

.checkin-btn{
    font-size: 18px;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 1em;
}

.checkin-search{
    margin-left: auto;
    margin-right: auto;
}

.checkin-foods{
    margin-left: auto;
    margin-right: auto;
}

.checkin-alert{
    margin-top: 1em;
}

.checkin-spinner{
    margin-top: 1em;
    color: rgb(207, 207, 207);
    height: 50px;
    width: 50px;
}

.checkin-search-group{
    margin-left: auto;
    margin-right: auto;
}

.foodcard{
    margin-top: 2em;
    display: inline-block;
    margin-bottom: 2em;
    border: 1px solid rgb(207, 207, 207);
    border-radius: 2%;
    padding-left: 0;
    padding-right: 0;
    margin-left: 8px;
    margin-right: 8px;
}

.checkin-cal-progress{
    margin-top: 5px;
}