.editbmrForm-div{
    margin-left: auto;
    margin-right: auto;
}

.editbmrForm{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgb(207, 207, 207);
    border-radius: 5%;
    padding: 10px;
}

.editbmrForm-label{
    color: rgb(207, 207, 207);
    font-size: 25px;
}

.editbmrForm-btn{
    font-size: 18px;
}

.editbmrForm-title{
    color: rgb(207, 207, 207);
    margin-left: auto;
    margin-right: auto;
}

.editbmrForm-titleRow{
    margin-left: auto;
    margin-right: auto;
}

.editbmrForm-bmr-btn{
    border-radius: 50%;
    height: 35px;
    width: 35px;
    color:rgb(207, 207, 207);
    background-color:  rgb(58, 58, 58);
    border-width: 1px;
}

.editbmrForm-bmr-btn:hover{
    border-radius: 50%;
    height: 35px;
    width: 35px;
    color:rgb(207, 207, 207);
    background-color:  rgb(78, 78, 78);
    border-width: 1px;
}

.editbmrForm-icon{
    margin-bottom: 2px;
}

.editbmrForm-activity-info{
    color:rgb(207, 207, 207) !important;
}

.editbmrForm-activity-info:hover{
    font-weight: bold;
    cursor: default;
}

.editbmrForm-slider{
    color:rgb(207, 207, 207);
}

.modal-editbmr{
    background-color:rgb(58, 58, 58);
    color:rgb(207, 207, 207);
}

.modal-editbmr-title{
    color: rgb(207, 207, 207);
    background-color:rgb(58, 58, 58);
}

.modal-editbmr-body{
    background-color: rgb(78, 78, 78);
}

.modal-editbmr-footer{
    background-color: rgb(58, 58, 58);
}